<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/icon-wohn-w.svg" alt="Derler logo" class="db w4 center mb4 br0">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Derler</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Homepage</a></li>
					<li><a href="/dienstleistungen" class="link">Dienstleistungen</a></li>
					<li><a href="/kontakt" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kontakt</h3>
				<ul class="mb3">
					<li><a href="mailto:marco@derler.ch" class="link">marco@derler.ch</a></li>
					<li><a href="tel:0041763456976" class="link">+41 (0)76 345 69 76</a></li>
				</ul>
			</div>


			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
