<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">
		<div class="w-100 w-50-ns ph1-ns">
			<a href="https://moebeltrend.ch/"><img src="img/partner-moebeltrend.ch.png" alt="Logo von Partner Möbeltrend.ch"></a>
		</div>

		<div class="w-100 w-50-ns ph1-ns">
			<a href="https://teojakob.ch/"><img src="img/partner-teojakob" alt="Logo von Partner teo jakob"></a>
		</div>

		<div class="w-100 ph1-ns">
			<a href="https://www.ofri.ch/EdisFarbenwerkstatt">Edi's Farbenwerkstatt</a>
		</div>
	</div>

</div>
