<div class="mw7 center ph3 pv4">
	<h2 class="f2-m f3 mb-4">Unsere Partner</h2>
	<div class="flex flex-wrap mhn1">
		<div class="w-third-m w-50 ph3 tc">
			<a href="https://moebeltrend.ch/"><img src="img/partner-moebeltrend.ch.png" alt="Logo von Partner Möbeltrend.ch"></a>
		</div>

		<div class="w-third-m w-50 ph3 tc">
			<a href="https://teojakob.ch/"><img src="img/partner-teojakob.svg" alt="Logo von Partner teo jakob"></a>
		</div>

		<div class="w-third-m w-50 ph3 tc">
			<a href="https://www.ofri.ch/EdisFarbenwerkstatt">Edi's Farbenwerkstatt</a>
		</div>
	</div>

</div>
