<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{ .title }}</h2>
      <div class="tags">
        <ul class="tag-ul center">
          {{ range .tags }}
          <li class="tag-li fw4 f6 f6-l pv1 ph2 mr2 mb3 br1 dib">{{ .tag }}</li>
          {{ end }}
        </ul>
      </div>
		<div class="flex-l mhn2-l">
			<div class="w-60-l ph2-l pa3" style="background-image: url('{{.picture}}'); background-size: cover;">
        <h3 class="f4 f4-l b di lh-title mb3 white mw6 bg-black">
          {{ .slogan }}
        </h3>
			</div>
			<div class="w-40-l ph2-l">
  				{{ .description | safeHTML }}
			</div>
		</div>
	</div>
</div>
