<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">


    <h2 class="f2 b lh-title mb2">{{ .title }}</h2>
		<div class="flex-l mhn2-l">
      <div class="tags">
      {{ range .tags }}
      <ul class="tag-ul">
      <li class="tag-li">{{ .tag }}</li>
      </ul>
      {{ end }}
      </div>

			<div class="w-60-l ph2-l">
        <p>{{ .slogan }}</p>
				<img src="{{ .picture }}" alt="picture of {{ .slogan }}" class="mb3">
			</div>

			<div class="w-40-l ph2-l">

				{{ .description }}
			</div>

		</div>
	</div>
</div>
