{{ define "main" }}

<!-- TESTS -->

<!-- T3 -->
{{ range .Data.Pages }}
  {{ with .Params.products }}
    {{ range .service }}
      {{ range .tags }}
        {{ . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<!-- END TESTS -->

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "text-and-image" (dict "heading" " " "text" .Params.bulletpoints "imgUrl" .Params.full_image "buttonText" "Unsere Dienstleistungen" "buttonLink" "/dienstleistungen") }}

{{ end }}
