{{ define "main" }}

<!-- TESTS -->

<!-- T3 -->
{{ range .Data.Pages }}
  <br/><br/><br/>
  <!-- {{ .Params }} -->

  {{ range .Params }}
    {{ . }}

    {{ with .Params.tags }}
      <p>tags exists</p>
    {{ else }}
      <p>a</p>
    {{ end }}
  {{ end }}


  {{ with .Params.map }}
    <p>in</p>
    {{ range .service }}
      <p> range service </p>
      {{ range .tags }}
        {{ . }}
      {{ end }}
    {{ end }}
  {{ else }}
    <p>t</p>
  {{ end }}
{{ end }}

<!-- END TESTS -->

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "text-and-image" (dict "heading" " " "text" .Params.bulletpoints "imgUrl" .Params.full_image "buttonText" "Unsere Dienstleistungen" "buttonLink" "/dienstleistungen") }}

{{ end }}
